<br />
<div class="row justify-content-md-center">
    <div class="col-4">
        <a class="btn btn-warning btn-lg btn-block mt-2 mb-3" [routerLink]="[ '/customer/add/new' ]">Add New
            Customer</a>
        <div class="nav bg-primary justify-content-center mb-3">
            <h3 style="color: white;">-------- Existing Customers --------</h3>
        </div>
        <ng-container *ngFor="let customer of customers">
            <a class="btn btn-outline-primary btn-lg btn-block" [routerLink]="['/customer', customer.id]">Name:
                {{customer.cName}}</a><br />
        </ng-container>
    </div>
</div>